<div id="registration">
		<%= form_for @user do |f| %>

		<%= f.text_field :email, placeholder: 'Email' %>
		<%= f.password_field :password, placeholder: 'Password' %>
		<%= fields_for @domain, @user.domains do |d|  %>
			<%= d.text_field :url, placeholder: 'URL' %>
		<% end %>
		<%= f.submit 'Treat your users', id: "regbutton" %>

		<% end %>
</div> 
<div id="div1" class="container">
</div>

<div id="div2" class="container">	
</div>

<div id="div3" class="container">
</div>

<div id="div4" class="container">
</div>

