<section class="preferences">
  <div class="span-8 columns centered">
    <article>
      <h2>Your Keys</h2>
      <div class="separator">
        <h3><strong>Public Key:</strong> <code><%= current_user.pub_key %></code></h3>
        <p>This key gives you access to the Uncaptcha API. It's okay for people to know this.</p>
      </div>
      <div class="separator">
        <h3><strong>Private Key:</strong> <code><%= current_user.priv_key %></code></h3>
        <p>Keep your private key safe, as it's the only way to verify that a form has been authenticated.</p>
      </div>
    </article>

    <article>
      <h2>Setting Up Uncaptcha</h2>
      <ol class="setup-steps">
        <li>
          <h3>Step 1: Prepare the Container</h3>
          <p>Within your HTML <code>form</code>, create an empty <code>div</code> with id <code>captcha-container</code>. It should look like this:</p>
          <pre>&lt;form&gt;
  ...
  &lt;div id="captcha-container"&gt;&lt;/div&gt;
  ...
&lt;/form&gt;</pre>
        </li>
        <li>
          <h3>Step 2: Add the Script</h3>
          <p>Add the following script tag wherever you keep your scripts.</p>
          <pre>&lt;script src="https://uncatch.me/captcha/js?k=<%= current_user.pub_key %>"&gt;</script></pre>
        </li>
        <li>
          <h3>Step 3: Query Our API</h3>
          <p>On your backend, send a <code>GET</code> request to the following URL, where <code>[captcha_id]</code> is a parameter supplied to your form automatically by Uncaptcha.</p>
          <code>https://uncatch.me/captcha/status?k=<%= current_user.priv_key %>&amp;id=[captcha_id]</code>
          <p>This'll return a JSON response like below, where <code>status</code> is <code>true</code> or <code>false</code>, denoting whether or not the user authenticated.</p>
          <code>{ success: status }</code>
        </li>
      </ol>
    </article>

    <article>
      <h2>Settings</h2>
      <div class="container">
        <div class="span-6 columns">
          <%= form_for @user, url: preferences_update_path do |f| %>

            <%= f.email_field :email, :autofocus => 'autofocus', placeholder: @user.email, class: 'block' %>
            <%= f.url_field :domains, value: @user.domains.map(&:url).join(", "), placeholder: 'Domains, separated by commas.', class: 'block' %>
            <%= f.password_field :password, :autocomplete => 'off', value: '', placeholder: 'Your password', class: 'block' %>
            <%= f.submit "Update Settings", class: 'block' %>

          <% end %>
        </div>
      </div>
    </article>

  </div>
</section>