<section id="catch">
  <div class="container">
    <div class="span-7 columns">
      <h1>Your users deserve better than this.</h1>
    </div>
    <div class="span-5 columns">
      <%= image_tag "captcha.jpg", class: "recaptcha-image" %>
    </div>
  </div>
</section>

<section id="second">
  <div class="container">
    <div class="span-5 columns" style="margin-right: 0 !important;">
      <h2>The Future of Captchas</h2>
    </div>
    <div class="span-7 columns" style="float: right;">
      <div id="captcha-container"></div>
    </div>
    <%= javascript_include_tag "/captcha/js?k=#{@sample.pub_key}" %>
  </div>
</section>

<section id="third">
  <div class="container">
    <div class="span-7 columns">
      <h2>Get Started</h2>
    </div>
    <div class="span-5 columns">
      <%= form_for @user do |f| %>
        <%= f.email_field :email, :placeholder => "your email", class: 'block' %>
        <%= f.password_field :password, :placeholder => "your password", class: 'block' %>
        <%= f.submit "Sign Up / Login", class: 'block' %>
      <% end %>
    </div>
  </div>
</section>

<section id="four">
  <div class="container">
    <div class="span-5 columns">
      <h2>Support Further Development</h2>
    </div>
    <div class="span-7 columns">
      <iframe src="<%= @url %>" width="500" height="200" style="float: right;">
    </div>
  </div>
</section>
