<section id="catch">
  <div class="container">
    <div class="span-7 columns">
      <h1 fittext>Your users deserve better than this.</h1>
      <h3 class="lede">Delight your users with a fun captcha, not one that will leave them scratching their heads.</h3>
    </div>
    <div class="span-5 columns">
      <%= image_tag "captcha.jpg", class: "recaptcha-image" %>
    </div>
  </div>
</section>

<section id="second">
  <div class="container">
    <h2 fittext>A Demo</h2>
    <div id="captcha-container"></div>
    <%= javascript_include_tag "/captcha/js?k=#{@sample.pub_key}" %>
  </div>
</section>

<section id="third">
  <div class="container">

    <div class="span-12 columns">
    <h2 fittext>Get Started</h2>
    <div class="span-6 columns">
      <%= form_for @user do |f| %>
        <%= f.email_field :email, :placeholder => "Email: john@smith.com" %>
        <%= f.password_field :password, :placeholder => "Password: Mr.Anderson" %>
        <%= f.submit "Uncaptcha Me" %>
      <% end %>
    </div>
  </div>
</section>

<section id="four">
  <div class="container">
    <h2 fittext>Support Further Development</h2>
    <iframe src="<%= @url %>" width="500" height="200"/>
  </div>
</section>
