<!DOCTYPE html>
<html>
<head>
  <title>Uncaptcha</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Code+Pro:300/Source+Sans+Pro:300,300i,600,600i">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
