<!DOCTYPE html>
<html>
<head>
  <title>Uncaptcha</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
